@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }

  html,
  body {
    max-width: 100vw;
    overflow-x: hidden;
    @apply text-gray-800 dark:text-white;
  }

  h1 {
    @apply flex items-center text-5xl font-semibold dark:text-white;
  }

  h2 {
    @apply text-4xl font-semibold dark:text-white;
  }

  h3 {
    @apply text-3xl font-semibold dark:text-white;
  }

  h4 {
    @apply text-2xl font-semibold dark:text-white;
  }

  h5 {
    @apply text-xl font-semibold dark:text-white;
  }

  h6 {
    @apply text-lg font-medium dark:text-white;
  }

  .markdown ul {
    @apply mb-4 list-disc pl-5;
  }

  .markdown ul li {
    @apply mb-2 last:mb-0;
  }

  .markdown p {
    @apply mb-3;
  }
}

@layer components {
  .link {
    @apply font-medium text-blue-600 hover:underline dark:text-blue-500;
  }
}

/* .ReactCollapse--collapse {
  transition: height 500ms;
} */

/* h1 {
  @apply text-4xl font-semibold;
}
h2 {
  @apply text-3xl font-semibold;
}
h3 {
  @apply text-2xl font-semibold;
} */

/* a {
  @apply text-base text-blue-600 transition hover:text-blue-800;
} */

/* button.primary {
  @apply flex items-center justify-center px-6 py-2 border border-transparent text-base leading-6 font-medium rounded-md text-white bg-blue-500 hover:bg-blue-800 focus:outline-none focus:border-blue-700 focus:ring transition duration-150 ease-in-out md:py-3 md:text-lg md:px-7;
}

button.secondary {
  @apply flex items-center justify-center px-6 py-2 border border-transparent text-base leading-6 font-medium rounded-md shadow text-blue-500 bg-white hover:text-blue-800 hover:shadow-md focus:outline-none focus:border-blue-300 focus:ring transition duration-150 ease-in-out md:py-3 md:text-lg md:px-7;
} */

@media (prefers-color-scheme: dark) {
  /* html {
    color-scheme: dark;
  } */
}
